<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>Insert title here</title>
    <script src="main.js"></script>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <section>
        <header>
            <h1>Simple Template App</h1>
        </header>
        <div>
          <input type="text">
        </div>
        <div>
          <textarea></textarea>
        </div>
        <div>
          <button>button</button>
        </div>
    </section>
</body>
</html>